@media only screen and (min-width: 1400px) {
  body {
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 1200px) {
  /****** ABOUT CSS ******/
  .about {
    margin-bottom: 10rem;
  }
}

@media only screen and (max-width: 992px) {
  /****** HEADER CSS ******/
  .navbar .navbar-nav {
    margin-left: 5rem !important;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  /****** ABOUT CSS ******/
  .about {
    margin-bottom: 8rem;
  }

  .about .chef-hat img {
    width: 45%;
    opacity: 0.4;
  }

  .about-body {
    position: static;
    width: 90%;
  }
}

@media only screen and (max-width: 768px) {
  /****** COMMON CSS ******/
  .about,
  .services,
  .pizza,
  .reviews {
    margin-top: 5rem;
    padding-top: 2rem;
  }

  /****** HEADER CSS ******/
  .navbar .navbar-brand {
    margin-left: 9%;
  }

  .navbar .navbar-nav {
    margin-left: 9% !important;
  }

  /****** HOME CSS ******/

  .home {
    margin-top: 2rem;
  }

  .home .home-left,
  .home .home-right {
    height: 20rem;
  }

  .home .home-body {
    margin: 0 10%;
  }

  .home img {
    width: 65%;
  }

  /****** ABOUT CSS ******/
  .about .chef-hat img {
    width: 50%;
  }
}

@media only screen and (max-width: 576px) {
  /****** COMMON CSS ******/
  .section-header {
    flex-direction: column;
    margin-bottom: 5rem;
  }

  .section-title {
    margin-bottom: 1.5rem;
  }

  /****** HOME CSS ******/
  .home img {
    width: 80%;
  }

  /****** ABOUT CSS ******/
  .about .chef-hat img {
    width: 60%;
  }

  /****** SERVICES CSS ******/
  .services {
    width: 90%;
  }

  /****** PIZZA CSS ******/
  .pizza {
    width: 90%;
  }

  /****** REVIEWS CSS ******/
  .reviews {
    width: 85%;
  }
}
